{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}

{% block title %}
    Login page
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="row g-3 mt-3" method="POST" action="{{ url_for('auth.login_post') }}">
                {{ form.csrf_token }}
                {% for field in ['email', 'password'] %}
                    {{ render_field(form[field]) }}
                {% endfor %}
                <div>
                    {{ form.submit(class="btn btn-primary mb-3") }}
                </div>
            </form>
        </div>
    </div>


{% endblock %}
